html, body {
      margin: 0;
	  width: 100%;
	  background-color: #f2f4f7;
    }

    * {
      box-sizing: border-box;
	  overflow:visible;
    }

    .slider {
	  width: 100%;
	  overflow-x: hidden;
    overflow-y: hidden;

    }

    .slick-slide {

    }

    .slick-slide img {
	  width: 100%;

    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
    }
    
    .slick-active {
    }

    .slick-current {
    }
	.slick-track {
   background: url(ajax-loader.gif);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: right;




	}


.logo{
  height:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.anchor{
   display:block;
   height:149px; 
   margin-top:-63px; 
   visibility:hidden;
}
.custom{
  margin-top:150px;


}
.cust {
      padding: 63px;
	  text-align: center;
	  
	
}
.content{
	  text-align: center;

}
.show  > ul > li {
	display: inline;
}
